* {
    font-family: Helvetica;
    
}

main {
    width:100%;
}
.header-top {
    display: inline;
    height: 64px;
    padding-left: 24px;
    width: 100%;
    
}

.header-top h1 {
    display: inline;
    font-size: 32px;
    
}

.nav {
    display: inline;
    float: right;
    padding-right: 24px;
}

.nav li {
    padding: 16px;
}

.header span {
    color:gray;
}

.container {
    display: grid;
    max-width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 7fr 5fr;
    margin-top: 32px;
    background-color: rgb(114, 109, 106);
    
}

.bannerImg {
    grid-column: 1 / 8;
} 


.bannerText {
    text-align: center;
     grid-column: 8 / 13;
}

.startButton {
    background-color: darkgray;
    width: 40%
}

.information {
     display: inline-flex;
     margin-left: 24px;
}

.card {
    
    margin: 32px 24px;
}

.bannerTitle, .info-title {
     font-weight: bold;
}






